@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

p, a {
  font-size: 18px;
}

a {
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
  transition: color 0.13s ease-in-out, background-color 0.13s ease-in-out;
}

body {
  background-color: hsl(33, 100%, 98%);
}

.expenses-chart-component {
  max-width: 440px;
  margin: 0 auto;
}
.expenses-chart-component header, .expenses-chart-component .spending-overview {
  margin: 20px;
  padding: 20px;
}
.expenses-chart-component header {
  border-radius: 12px;
  background-color: hsl(10, 79%, 65%);
  color: hsl(33, 100%, 98%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.expenses-chart-component header h1 {
  font-size: 0.98rem;
  font-weight: 400;
  margin-bottom: 4px;
}
.expenses-chart-component header h2 {
  font-size: 1.6rem;
}
.expenses-chart-component header img {
  height: 38px;
}
.expenses-chart-component .spending-overview {
  background-color: white;
  border-radius: 12px;
}
.expenses-chart-component .spending-overview h2 {
  color: hsl(25, 47%, 15%);
}
.expenses-chart-component .spending-overview .chart {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  align-items: flex-end;
  padding-bottom: 20px;
  border-bottom: 2px solid hsl(33, 100%, 98%);
}
.expenses-chart-component .spending-overview .chart .day-area {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.expenses-chart-component .spending-overview .chart .day-area:has(.bar:hover) .ammount {
  opacity: 1;
}
.expenses-chart-component .spending-overview .chart .day-area .bar {
  background-color: hsl(10, 79%, 65%);
  height: 100px;
  width: 70%;
  border-radius: 4px;
  transition: opacity 0.13s ease-in-out;
  cursor: pointer;
}
.expenses-chart-component .spending-overview .chart .day-area .bar:hover {
  opacity: 0.8;
}
.expenses-chart-component .spending-overview .chart .day-area .bar.current-day {
  background-color: hsl(186, 34%, 60%);
}
.expenses-chart-component .spending-overview .chart .day-area .ammount {
  font-size: 0.8rem;
  background-color: hsl(25, 47%, 15%);
  border-radius: 4px;
  color: hsl(33, 100%, 98%);
  padding: 4px;
  display: inline-block;
  margin-bottom: 6px;
  opacity: 0;
  transition: opacity 0.13s ease-in-out;
}
.expenses-chart-component .spending-overview .chart .day-area .day {
  font-size: 0.8em;
  color: hsl(28, 10%, 53%);
}
.expenses-chart-component .spending-overview .chart #bar-1 {
  height: 20px;
}
.expenses-chart-component .spending-overview .total-section {
  padding-top: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.expenses-chart-component .spending-overview .total-section p {
  font-size: 0.98rem;
  color: hsl(28, 10%, 53%);
}
.expenses-chart-component .spending-overview .total-section h2 {
  font-size: 1.9rem;
  margin-top: 6px;
}
.expenses-chart-component .spending-overview .total-section #percentage {
  font-weight: 700;
  color: hsl(25, 47%, 15%);
  text-align: right;
}

.attribution {
  max-width: 400px;
  margin: 20px;
  padding: 20px;
  color: hsl(25, 47%, 15%);
  background-color: white;
  border-radius: 12px;
  font-size: 0.96rem;
}
.attribution a {
  color: hsl(10, 79%, 65%);
  text-decoration: none;
  font-weight: 700;
}

@media (min-width: 440px) {
  .expenses-chart-component .spending-overview .total-section h2 {
    font-size: 2.4rem;
  }
  .attribution {
    margin: 20px auto;
  }
}/*# sourceMappingURL=main.css.map */